# Exemplos de uso de Tuplas

In [1]:
Letras = ['a', 'b']

In [2]:
Letras.append('c')

In [3]:
Letras_t = tuple(Letras)

In [4]:
type(Letras_t)

tuple

In [5]:
Letras_t

('a', 'b', 'c')

In [6]:
Letras[0] = 'a1'

In [7]:
Letras_t[0] = 'a1'

TypeError: 'tuple' object does not support item assignment

In [8]:
L = []
p1 = ('Rosalvo', 40)
L.append(p1)
p2 = ('Joao', 30)
L.append(p2)
p3 = ('Maria', 50)
L.append(p3)

In [9]:
L

[('Rosalvo', 40), ('Joao', 30), ('Maria', 50)]

In [10]:
for p in L:
    nome, idade = p
    if idade > 30:
        print(nome)

Rosalvo
Maria